@model UserViewModel
@{
    ViewData["Title"] = "Главная";
    ViewData["NoFriendMessage"] = "";
}
<center>
    <label class="text-danger">@Model.NotifyDanger</label>
    <label class="text-success">@Model.NotifySuccess</label>
</center>
<h3>
    @Model.User.GetFullName()
</h3>
<div class="row">
    <div class="main">
        <img class="main-img" src="@Model.User.PathToPhoto" />
        <div class="center-align">
        </div>
    </div>
    
    <div class="side">
        <div class="lined-block">
            <div>
                <label class="gray-text">Дата рождения:</label>
                <label> @Model.User.BirthDate.ToLongDateString()</label>
            </div>
            <div>
                <label class="gray-text">Статус:</label>
                <label> @Model.User.Status</label>
            </div>
            <div>
                <label class="gray-text">О себе:</label>
                <label> @Model.User.About</label>
            </div>
            @if (@Model.IsCurrentUser)
            {
                <div>
                    <label class="gray-text">Email:</label>
                    <label> @Model.User.Email</label>
                </div>
            }
            <div>
                <label class="gray-text">Дата регистрации:</label>
                <label> @Model.User.RegDate.ToLongDateString()</label>
            </div>
        </div>
        @if (@Model.IsCurrentUser)
        {
            <a asp-area="" asp-controller="AccountManager" asp-action="ShowEditUserForm">Изменить информацию</a>
        }
    </div>
</div>

<h4>Список друзей:</h4>
<div class="block-reg background-white">
    @if (Model.FriendsList.Count != 0)
    {
        @foreach (var item in Model.FriendsList)
        {
            <div class="friendcontainer">
                <div class="row nowrap">
                    <div class="main">
                        <img class="ava" src="@item.PathToPhoto" />
                    </div>
                    <div class="side">
                        @{
                            var idData = new Dictionary<string, string> { { "id", item.Id } };
                        }
                        <a asp-controller="User" asp-action="ShowPerson" asp-all-route-data="idData"><h5>@item.GetFullName()</h5></a>
                    </div>
                </div>
                @if (@Model.IsCurrentUser)
                {
                    <div>
                        <form asp-controller="AccountManager" asp-action="SendMessage" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-primary">Написать сообщение</button>
                        </form><br />
                        <form asp-controller="User" asp-action="DeleteFriend" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn-sm">Убрать из друзей</button>
                        </form>
                    </div>
                }
            </div>
            <hr />
        }
    } else
    {
        @if (@Model.IsCurrentUser)
        {
            <label class="gray-text">У вас пока нет друзей</label>
        } else
        {
            <label class="gray-text">У пользователя @Model.User.FirstName пока нет друзей</label>
        }   
    }
</div>
