@model UnsocNetwork.ViewModels.ChatViewModel;

<partial name="_ValidationScriptsPartial" />

<div class="block-reg background-white">
    <div>
        <form method="get" asp-controller="AccountManager" asp-action="MyProfile">
            <input class="enter_submit" type="submit" value="<< в профиль " />
        </form>
    </div>
    <h4 class="center">Чат с пользователем @Model.Recipient.GetFullName()</h4>

    @if (Model.Messages.Count != 0)
    {
        <div>
            @foreach(var item in Model.Messages)
            {
                @if (item.RecipientId == Model.Recipient.Id)
                {
                    <div class="right-text">
                        <label><b>@item.Sender.FirstName</b></label>
                        <label class="gray-text">@item.Date</label><br />
                        <label>@item.Text</label><br />
                    </div>

                } else {
                    <div class="left-text">
                        <label><b>@item.Sender.FirstName</b></label>
                        <label class="gray-text">@item.Date</label><br />
                        <label>@item.Text</label><br />
                    </div>
                }
            }
        </div>
    } else
    {
        <label>Сообщений пока нет</label>
    }
    <div class="lined-block">
        <label class="text-danger">
            Получение новых сообщений "на лету" находится в разработке.<br />
            Пока нужно обновлять эту страницу вручную
        </label>
        <form asp-controller="Message" asp-action="SendMessage" method="post">
            <input name="recipientId" asp-for="Recipient.Id" hidden/>
            <div class="mrgn">
                <input class="form-control emojify" type="text" asp-for="Text" />
            </div>
            <span asp-validation-for="Text" class="text-danger"></span>
            <input class ="btn_submit" type="Submit" value="Отправить" />
        </form>
    </div>
</div>